@page
@model LandingPageModel
@{

}
<style>
    .movie-list {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr))/* ( 5, 1fr) */;
        gap: 5px;
        min-height:100px;
        background-color: #2B4379;
        padding:10px;
    }
    .movie-in-list {
        width:100%;
        max-height:max-content;
        box-shadow: rgba(0,0,0,.25);
        display:grid;
        grid-template-columns: fr1;
        grid-template-rows: fr1;
    }

    .movie-button {
        height:100%;
        background-color: transparent;
        border-color: transparent;
        z-index:1;
    }
    .movie-thumbnail, .movie-button {
        grid-area: 1 / 1;
        width: 100%;
    }
    h3 {
        margin:0px;
        padding:10px;
    }
    .incloses-category{
        background-color: #172b61;
        padding-left:5px;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <main>
     <div class="incloses-category">
         <h3 >Category</h3>
     </div>
    <div class="movie-list" style="background-color:#172b61">
        <div class="movie-in-list">
            <img class="movie-thumbnail" src="@Model.Movies[0].ImageUrl" style="width:100%" />
            <button data-movie="@Model.Movies[0].Id" class="movie-button" type="submit" value=""/>
        </div>
        <div class="movie-in-list">
            <img class="movie-thumbnail" src="@Model.Movies[1].ImageUrl" style="width:100%" />
            <button data-movie="@Model.Movies[1].Id" class="movie-button" type="submit" value="" />
        </div>
        <div class="movie-in-list">
            <img class="movie-thumbnail" src="@Model.Movies[2].ImageUrl" style="width:100%" />
            <button data-movie="@Model.Movies[2].Id" class="movie-button" type="submit" value="" />
        </div>
        <div class="movie-in-list">
            <img class="movie-thumbnail" src="@Model.Movies[3].ImageUrl" style="width:100%" />
            <button data-movie="@Model.Movies[3].Id" class="movie-button" type="submit" value="" />
        </div>
        <div class="movie-in-list">
            <img class="movie-thumbnail" src="@Model.Movies[4].ImageUrl" style="width:100%" />
            <button data-movie="@Model.Movies[4].Id" class="movie-button" type="submit" value="" />
        </div>
     </div>
</main>
<script src="~/js/LandingPageScript.js"/>